// 1. Your custom variables and variable overwrites.
$global-link-color: #40bfb4;
$global-link-hover-color: #40bfb4;

$global-primary-background: #40bfb4;
$global-secondary-background: #333E48;

$offcanvas-bar-background: #fff;
$offcanvas-bar-color-mode: dark !default;

// 2. Import default variables and available mixins.
@import "scss/variables.scss";
@import "scss/mixins.scss";

// 3. Your custom mixin overwrites.
@mixin hook-card() { color: #000; }

// 4. Import UIkit.
@import "scss/uikit.scss";
